.Orders{
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Montserrat',sans-serif;
}

.Orders-main{
    margin-top: 10px;
    font-family: 'Montserrat',sans-serif;
    position: relative;
    top:0;
    left: 0;
}

.Orders-div{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1010px;
}

.Orders-map{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(255, 121, 0, 0.4);
    z-index: 4444;
}

.Orders-title{
    font-weight: 800;
    font-size: 36px;
    color: #ff7900;
    margin-top: 5px;
    text-align: left;
    height: 44px;
    margin-right: 10px;
}

.Orders-inline{
    display: flex;
    justify-content: space-between;
}

.Orders-composition{
    font-weight: 500;
    font-size: 13px;
    line-height: 146%;
    color: #686466;
    text-align: left;
    white-space: pre-wrap;
    /*width: 409px;*/
}

.Orders-date{
    font-weight: 700;
    font-size: 19px;
    line-height: 89%;
    color: #0e0c0d;
    text-align: left;
    margin-top: 35px;
    /*padding-top: 15px;*/
    /*margin: 10px;*/
    /*width: 83px;*/
    /*white-space: nowrap;*/
}



.Orders-price{
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #ff7900;
    padding-top: 15px;
    margin: 10px;
    width: 83px;
    white-space: nowrap;
}

.order-status-not-accepted{
    font-weight: 700;
    font-size: 19px;
    line-height: 89%;
    color: #0e0c0d;
    margin-top: 35px;
    width: 124px;
}

.Orders-state{
    font-weight: 700;
    font-size: 19px;
    line-height: 89%;
    color: #0e0c0d;
    margin-top: 35px;
    width: 124px;
}

.order-status-accepted{
    font-weight: 700;
    font-size: 19px;
    line-height: 89%;
    color: #808080;
    margin-top: 35px;
    width: 124px;
}

.Orders-state-completed{
    font-weight: 700;
    font-size: 19px;
    line-height: 89%;
    color: #808080;
    margin-top: 35px;
    width: 124px;
}

.Orders-map-div{
    border-radius: 12px;
    width: 668px;
    height: auto;
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.08), 0 4px 28px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    font-family: 'Montserrat',sans-serif;
    padding: 30px 50px;
}


.Orders-map-number{
    font-weight: 800;
    font-size: 32px;
    line-height: 53%;
    color: #ff7900;
}

.Orders-map-close{
    width: 40px;
    height: 40px;
}