.Order-main{
    margin-top: 10px;
}

.Order-div{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1010px;
}

.Order-title{
    font-weight: 800;
    font-size: 36px;
    color: #ff7900;
    font-family: 'Montserrat',sans-serif;
    text-align: left;
    margin: 0;
    height: 44px;
}

.Order-inline-input{
    display: flex;
    justify-content: space-between;
}

.Order-text-input{
    font-weight: 500;
    font-size: 17px;
    line-height: 187%;
    color: #696f7a;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

.Order-input{
    margin: 5px;
    border: 1.50px solid #e2e2e9;
    border-radius: 7px;
    width: 546px;
    height:auto;
    font-weight: 700;
    font-size: 17px;
    line-height: 165%;
    color: #231f20;
    font-family: 'Montserrat', sans-serif;
}

.Order-input-cheng{
    border: 1.50px solid #f3f3f7;
    border-radius: 7px;
    /*resize: vertical;*/
    width: 530px;
    max-width: 530px;
    display: block;
    height: 100%;
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
    margin: 5px;
    padding: 10px;
    background: rgba(241, 242, 245, 0.5);
    font-weight: 700;
    font-size: 17px;
    line-height: 165%;
    color: #231f20;
    font-family: 'Montserrat', sans-serif;

}

.Order-input-cheng::-webkit-scrollbar{
    width: 0;
}

.Order-composition{
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    height: auto;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: left;
}

.Order-composition-title{
    font-weight: 800;
    font-size: 16px;
    line-height: 175%;
    color: #ff7900;
}

.Order-composition-name{
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: rgba(35, 31, 32, 0.8);
    margin: 5px;
    margin-bottom: 3px;
    margin-left: 0;
}

.Order-composition-description{
    font-weight: 600;
    font-size: 11px;;
    color: rgba(35, 31, 32, 0.8);
    opacity: 0.6;
    width: 213px;
    line-height: 100%;
    margin: 5px;
    margin-left: 0;
}

.Order-composition-price{
    font-weight: 700;
    font-size: 17px;
    line-height: 165%;
    text-align: right;
    color: #231f20;
    margin-top: 5px;
    margin-left: 10px;
}

.Order-sum{
    font-weight: 800;
    font-size: 17px;
    line-height: 165%;
    color: #231f20;
}

.Order-back{
    font-weight: bold;
    font-size: 15px;
    line-height: 187%;
    color: #696f7a;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.Order-button{
    font-weight: 800;
    font-size: 16px;
    line-height: 175%;
    color: #231f20;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px 25px 7px 25px;
    background-color: #FF7900;

    border-radius: 8px;
    border: 0px solid transparent;

    font-family: 'Montserrat',sans-serif;
}

.Order-adres{
    border-radius: 8px;
    width: 280px;
    height: 49px;
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 187%;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat',sans-serif;
    margin: 10px;
}