.DeliveryPayment-rectangle{
    height: 688px;
    width: auto;
    margin-top: 94px;
    background: rgba(255, 121, 0, 0.08);
    margin-bottom: 128px;
}

.inline{
    display: flex;
}

.imgD{
    height: 132px;
    width: 255px;

}

.h{
    font-size: 30px;
    color: #FF7900;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 36px;
    padding-bottom: 26px;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.map{
    margin-right: 150px;
    margin-left: 150px;
}